#sidebar {
    position: absolute
    width: 160px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
}

#outerDiv {
    position: relative
}